
<%=form_for @quiz do |f|%>
<%=f.text_field :title , class: 'form-control', placeholder: 'Enter your quiz title'%>

<%=f.text_field :description , class: 'form-control', placeholder: 'Enter your quiz description'%>

<div class="file-field">
  <div class="d-flex justify-content-center">
  <div class="btn btn-mdb-color btn-rounded float-left">
  <%= f.file_field :thumbnail %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  <button type="submit" class="btn btn-green btn-block btn-flat">Create Quiz</button>
  </div>
</div>
<%end%>






