<%= @identity.user.firm %> scored <%= Result.quiz_score(@identity, @quiz) %> Points!

<%Result.quiz_results(@identity, @quiz).each do |result| %>

<p>
<%=result.question.question_text %>
<%=result.answer.answer_text %>
</p>

<%end%>








