<h1><%=@quiz.title%></h1>
<h3> Deine Ergebnisse</h3>
<br>
<h3>Du hast <%= Result.quiz_score(@partaker, @quiz) %> Punkte erreicht!</h3>

<%Result.quiz_results(@partaker, @quiz).each do |result| %>
<p>
<h3><%=result.question.question_text %></h3>
</p>
<%end%>









