<h1><%=@quiz.title%> - customer Result Page</h1>
<h2>You scored: <%= Result.quiz_score(@identity, @quiz) %> Points!</h2>

<%Result.quiz_results(@identity, @quiz).each do |result| %>

<p>
<h3><%=result.question.question_text %></h3>
<%=result.answer.correct ? "Right: #{result.answer.answer_text}" : "Wrong: #{result.answer.answer_text}"%>
</p>
<%end%>









