<div id="page-content">
    <div class="container mt-4">
        <h2 class="text-center">Auditoren</h2>
        <div class="flickr_pagination">
            <div class="page_info mb-3">
                <%= will_paginate @users, :container => false %>
            </div>
        </div>
        <% @users.each do |user| %>
        <div class="row justify-content-md-center mb-3">
            <div class="col-7 mb-3">
                <div class="card text-center shadow mb-3" id="article-card">
                    <div class="card-header font-italic font-weight-bold" id="card-header">
                        <%= link_to user.full_name, user%>
                    </div>
                    <div class="card-body">
                        <%=link_to 'Profil ansehen', user, class: "btn btn-outline-success"%>
                    </div>
                    <div class="card-footer text-muted" id="card-footer">
                        <small>Joined <%= time_ago_in_words(user.created_at) %> ago </small>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>