<div id="page-content">
    <div class="container mt-4">
         <h2>Fragebogen auswählen, um Ergebnisse zu sehen: </h2>
            <% @quizzes.each do |result| %>
            <div class="card card-header results-block mb-3">
                <h3><%= link_to  result.title , quiz_path(result) %> </h3>
            </div>
            <% end %> 
         <%= render 'layouts/messages' %>
         <% if current_user %>
         <%= link_to fa_icon('angle-left fw',text:"Zur Startseite"), welcome_path, class:"btn btn-info mt-2"%>
         <%= link_to fa_icon('angle-left fw',text:"Zur den Auditoren"), users_path, class:"btn btn-info mt-2"%>
         <% end %>
    </div>
</div>