<div class="container mt-4">
    <div id="page-content-home">
        <div class="jumbotron text-wrap">
            <div class="row justify-content-md-center">
                    <h1 class="display-3">Willkommen bei CyReSeal</h1>
                     <div class="col-7">
                </div>
            </div>
        </div>
        <h1>Cyber Resilience Seal</h1>
    <div class="row">
        <div class="col-7">
            <p class="text-justify">
                CyReSeal ist eine Audit-Plattform, welche einem Kunden die Möglichkeit bietet, durch die selbständige
                Beantwortung eines speziell entwickelten Standards (Fragenkatalog) seinen Unternehmensstatus zur
                Implementierung von
                Informationssicherheit, IT-Sicherheit und Datenschutz in seiner Organisation zu ermitteln.
            </p>
            </p> 
            <p class="text-justify">
                Der Standard kombiniert dazu etablierte internationale Normen, wie z. B. eine ISO/IEC 27001, sowie
                weitere
                anerkannte Regelwerke und Best-Practice-Kataloge in diesem Umfeld mit einem Reifegradmodell und
                Punktesystem.
            </p>
    </div>
       </div>
    </div>
</div>