<h1>Cyber Resilience Seal</h1>
<div class="row">
    <div class="col-7">
        <p>
            CyReSeal ist eine Audit-Plattform, welche einem Kunden die Möglichkeit bietet, durch die selbständige
            Beantwortung eines speziell entwickelten Standards (Fragenkatalog) seinen Unternehmensstatus zur
            Implementierung von
            Informationssicherheit, IT-Sicherheit und Datenschutz in seiner Organisation zu ermitteln.
        </p>

        </p> Der Standard kombiniert dazu etablierte internationale Normen, wie z. B. eine ISO/IEC 27001, sowie weitere
        anerkannte Regelwerke und Best-Practice-Kataloge in diesem Umfeld mit einem Reifegradmodell und Punktesystem.
        </p>
        <%= link_to 'Zurück',root_path, class:"btn btn-outline-info" %>
    </div>
</div>