<% if !current_user %>
<header class="landing-page">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Cyber Resilience Seal</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Hier sollte ein schlauer Text stehen</h2>
            <%= link_to fa_icon('user-plus fw',text:"Registrieren"), new_user_registration_path, class:"btn btn-success"%>
        </div>
    </div>
</header>
<% else %>
<%= render 'welcome' %>
<%end%>