$enable-shadows: true;

@import 'bootstrap/dist/css/bootstrap';

/* Page content styling */
html,
body {
  height: 100%;
  width: 100%;
}

.landing-page{
  position: relative;
  width: 100%;
  height: auto;
  padding: 9rem 0;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.landing-page h1{
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  background: #454d55;
  background-clip: text;
}
.landing-page h2 {
  background: #454d55;
  background-clip: text;
  max-width: 20rem;
  font-size: 1rem;
}

//nav

.navbar {
background-color: white !important;
border-bottom: grey;
}

.nav-link, .nav-item, .footer-link, #copyright-text{
    color:  #454d55;
    text-decoration: none;
}
.nav-link:hover, .nav-item:hover, .footer-link:hover, #copyright-text:hover{
    color: #454d55;
    text-decoration: none;
}

.navbar-brand {
font-size: 2rem;
color: #454d55;;
}
//icon

.fa {
  color:#454d55;
}

//custom

.loggout-button{
    margin-right: 10px;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 10px;
    color: #454d55;
}

.card-top-10{
    background-color: #454d55ad;
    color: #454d55;
}

headlines

h1{
   color: #454d55;
}
h2{
  color: #454d55;
}

h3{
    color: #454d55;
}

h5{
    color: #454d55;
}

//footer


#sticky-footer{
    width: 100%;
    height: 50px;
    clear: both;
    position: fixed;
    bottom: 0;
}

#copyright-text{
  margin-top: 12px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
}



/* Pagination */

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
  }
  .flickr_pagination .disabled {
    color: rgb(110, 117, 117) }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: rgb(221, 215, 215) }
  .flickr_pagination a {
    border: 1px solid rgb(167, 165, 165);
    color: rgb(40, 133, 133);
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: whitesmoke;
      background: rgb(49, 82, 82);
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.zoom {
  transition: transform .1s;
}
.zoom:hover {
  transform: scale(1.2);
}