<<<<<<< HEAD
// Place all the styles related to the partakers controller here.
=======
// Place all the styles related to the identities controller here.
>>>>>>> 97aa6089faee5f0297086535b11670971592e8f5
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
