<footer id="sticky-footer" class="bg-dark text-white">
    <div class="container text-center" id="copyright-text">
        <small>Copyright &copy; <%= link_to 'Luis Holzer', 'https://github.com/Luis089/CyReSeal_3.0' %></small>
    </div>
</footer>